.rtl {

  #main {
    direction: rtl;
  }

  .btn .fa {
    @include margin-left(7px);
    @include margin-right(0);
  }

  #topic-footer-buttons .btn {
    margin-bottom: 5px;
    @include margin-left(10px);
    @include margin-right(0);
  }

  .caret {
    display: inline-block;
    width: 0px;
    height: 0px;
    vertical-align: middle;
    border-top: 4px solid #333;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: "";
    @include margin-right(5px);
    @include margin-left(0);
  }

  #topic-title h1 a.edit-topic {
    font-size: .9em;
    position: absolute;
    @include margin-right(8px);
    @include margin-left(0);
  }

  nav.post-controls .create i {
    @include margin-left(5px);
    @include margin-right(0);
  }

  .btn.no-text .fa {
    @include margin-left(0px);
    line-height: 10px;
  }

  #show-topic-admin {
    @include padding(5px 8px);
    margin-top: 5px;
    @include left(20px);
  }

  #topic-title .star {
    font-size: 1.429em;
    margin-top: 6px;
    @include margin-left(6px);
  }

  a.star {
    display: inline-block;
    @include float(right);
  }

  .topic-meta-data-inside {
    margin-top: -22px;
    @include float(left);
    font-size: 0.857em;
  }
  .post-info a {
    color: #B3B3B3;
    @include padding-left(5px);
  }


  .topic-meta-data {
    @include float(right);
    position: relative;
  }


  .span14 {
    width: 70%;
    @include padding-right(1%);
  }
  .topic-body {
    border-top: 1px solid #E6E6E6;
    @include float(right);
    position: relative;
    @include padding(10px 0px 15px);
  }

  a.reply-new {
    position: absolute;
    color: #8C8C8C;
    margin-top: -2px;
    @include left(0);
  }

  .reply-new i {
    font-size: 0.857em;
    @include margin-left(5px);
    background: none repeat scroll 0% 0% #FFF;
    border: 1px solid #E6E6E6;
    @include padding(2px 4px);
    border-radius: 20px;
    transition: all 0.15s linear 0s;
  }

  .gutter .post-links {
    list-style-type: none;
    @include padding-right(19px);
    position: relative;
    @include margin-right(5px);
    line-height: 18px;
  }


  .dropdown-menu a > div {
    @include margin-right(26px);
  }

  .dropdown-menu .icon {
    margin-top: 3px;
    @include float(right);
    font-size: 1.286em;
  }

  .topic-list th, .topic-list td {
    @include padding(12px 5px);
    line-height: 1.25;
    @include text-align(right);
    vertical-align: middle;
  }

  .topic-admin-menu {
    background-color: #FFF;
    width: 205px;
    @include padding(10px);
    border: 1px solid #E6E6E6;
    position: fixed;
    top: 70px;
    z-index: 1000;
    @include left(10px);
  }

  .btn-admin {
    @include text-align(right);
  }

  #share-link .link {
    @include margin-right(2px);
    @include float(left);
    font-size: 1.429em;
  }

  #share-link .social-link {
    @include margin-right(2px);
    @include margin-left(8px);
    @include float(right);
    font-size: 1.571em;
  }

  body .radio input[type="radio"], body .checkbox input[type="checkbox"] {
    @include float(right);
    @include margin-right(-18px);
  }

  body .radio, body .checkbox {
    min-height: 18px;
    @include padding-right(18px);
  }

  .modal-header .close {
    @include float(left);
    font-size: 1.429em;
    @include margin(10px 10px 0px);
    text-decoration: none;
    color: #B3B3B3;
    cursor: pointer;
  }

  #reply-control .wmd-controls .textarea-wrapper {
    @include padding-left(5px);
    @include float(right);
  }

  #reply-control .wmd-controls .preview-wrapper {
    @include padding-right(5px);
    @include float(left);
  }

  #reply-control #wmd-button-bar {
    top: 0px;
    position: absolute;
    border-bottom: 1px solid #E6E6E6;
    background-color: #FFF;
    z-index: 100;
    @include right(0);
  }

  #reply-control .toggle-preview {
    @include right(auto);
    @include left(5px);
    text-decoration: underline;
  }

  #reply-control a.cancel {
    text-decoration: underline;
    @include padding-right(7px);
  }

  #reply-control .toggler {
    display: block;
    width: 13px;
    height: 13px;
    @include left(13px);
    position: absolute;
    font-size: 1.071em;
    color: #333;
    text-decoration: none;
    @include right(auto);
  }

  .d-header .title {
    display: table;
    @include float(right);
    height: 40px;
  }

  .d-header .panel {
    @include float(left);
    position: relative;
  }

  .d-header .icons > li {
    @include float(right);
  }

  .d-header .icons {
    @include float(right);
    @include text-align(center);
    @include margin(0px 0px 0px 5px);
    list-style: none outside none;
    transition: all linear 0.15s;
  }

  .nav-pills > li {
    @include float(right);
    @include margin-left(5px);
  }

  #navigation-bar .has-icon span:before {
    @include margin-left(4px);
    font: 1.071em/0.9 "FontAwesome";
  }

  .list-controls .btn {
    @include float(left);
    @include margin-right(8px);
    margin-bottom: 10px;
    font-size: 1.143em;
    font-weight: normal;
  }

  ol.category-breadcrumb {
    display: block;
    @include float(right);
    list-style: none outside none;
    @include margin(0px 0px 0px 10px);
    @include padding(0px);
  }

  .list-controls .nav {
    @include float(right);
    margin-bottom: 18px;
  }

  .d-dropdown {
    display: none;
    width: 320px;
    position: absolute;
    top: 100%;
    @include left(0px);
    z-index: 1100;
    border: 1px solid #E6E6E6;
    background-color: #FFF;
    box-shadow: 0px 2px 2px rgba(51, 51, 51, 0.4);
    @include right(auto);
  }

  .category-dropdown-menu a.badge-category {
    font-size: 0.929em;
    font-weight: bold;
    @include padding(4px 0px);
    @include float(none);
    line-height: 19px;
    text-transform: none;
    width: 100%;
    min-width: 102px;
    @include text-align(center);
    @include margin-left(20px);
    margin-bottom: 7px;
    @include margin-right(0px);
  }

  .composer-popup a.close {
    @include float(left);
    color: #333;
    opacity: 0.5;
    font-size: 1.071em;
  }

  #topic-progress {
    position: relative;
    @include right(345px);
    border: medium none;
    background-color: #E6E6E6;
    color: #8C8C8C;
    width: 145px;
    height: 34px;
    @include left(auto);
  }

  .topic-map .map li {
    @include float(right);
    @include padding(7px 11px);
  }

  .topic-map .buttons {
    @include float(left);
  }

  nav.post-controls button.like, nav.post-controls button.edit, nav.post-controls button.flag, nav.post-controls button.delete, nav.post-controls button.share, nav.post-controls button.bookmark, nav.post-controls button.create {
    @include float(left);
  }

  button.create {
    @include float(left);
  }

  .topic-list .star {
    width: 20px;
    @include padding-left(0px);
  }

  .topic-list th:first-of-type, .topic-list td:first-of-type {
    @include padding-right(10px);
  }

  button.create {
    @include float(right);
  }

  .extra-info-wrapper {
    @include float(right);
    width: 78%;
    max-width: 800px;
  }

  body .form-horizontal .controls {
    @include margin-right(160px);
  }

  body .form-horizontal .control-label {
    @include float(right);
    width: 140px;
    padding-top: 5px;
    @include text-align(right);
    font-weight: bold;
  }

  .cooked {
    margin-top: 40px;
  }

  .logo-small {
    @include margin-right(0px);
  }

  .d-dropdown .category {
    @include float(right);
  }

  .topic-list .pull-left {
    @include float(right);
  }

}
